.add {
    text-align: center;
}

.titulo {
    font-size: 30px;
    font-weight: bolder;
}

.descricao {
    font-weight: bold;
    font-size: 20px;
}

#btn_task {
    background-color: rgb(119, 214, 243);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    width: 150px;
    border: 1px solid;
    margin: 10px 0;
}

#input_task {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 7px;
}

.todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.topico {
    background-color: #5f5;
    border-radius: 7px;
    font-size: 25px;
    padding: 10px;
    font-weight: bolder;
}

